form > .form-group > label{
    font-size: 20px;
}

.primary{
    color: #1D3354;
}

.secondary{
    color: #467599;
}

.col-text{
    font-size: 20px;
}

.sticky-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: white;
}